extends layout

block hero-unit

include includes/_paginate
 
      
block content
  .container
      .text-center
        br
        img.d-inline-block.align-top(src="/images/logo.png", alt="logo", width="40", height="40")
        h3.whereTogo 어디로 날아갈까요?
        .d-flex.justify-content-center
          .p-2.bd-highlight
            i.fa.fa-search
            form.form-inline.search-input-group(action='/', method='GET')
          .p-2.bd-highlight
            input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

  .container
   .d-flex.justify-content-around
    .p-2.bd-highlight.text-center
      a(href="#") 라오스
        img.img-size(src="/images/laos.jpg", alt="라오스")
    .p-2.bd-highlight.text-center
      a(href="#") 파리
        img.img-size(src="/images/paris.jpg", alt="파리")
    .p-2.bd-highlight.text-center
      a(href="#") 하노이
        img.img-size(src="/images/hanoi.jpg", alt="하노이")
    .p-2.bd-highlight.text-center
      a(href="#") 홍콩
        img.img-size(src="/images/hongkong.jpg", alt="홍콩")

    


    
  br
  br
  hr
  br
  .container

    h1.main-title 
      | items
      if items.total > 0
        .small Total #{items.total} item(s)

    if items.total <= 0 
      .alert.alert-info No items available yet
    else
      .d-flex.justify-content-around
        each item in items.docs
          .p-2.bd-highlight.text-center.card.card-image
            img.card-img-top(src="...",alt="...")
            .card-body
            h5.card-title= item.itemName
            a.btn.btn-primary(href=`/items/${item.id}`) more
            include items/_item

      +paginate(items, '/items', query)

    hr
    a.btn.btn-primary(href='/items/new') New Item
    

