extends layout

block hero-unit
    br
    br
    br
    br
    br
    br
    br
    .container
      .text-center
        img.d-inline-block.align-top(src="/images/logo.png", alt="logo", width="50", height="50")
        h3.whereTogo 어디로 날아갈까요?
        .d-flex.justify-content-center
          .p-2.bd-highlight
            i.fa.fa-search
            form.form-inline.search-input-group(action='/', method='GET')
          .p-2.bd-highlight
            input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
            
        
        
      
block content
  .container
  
    

