.main-title {
    .small {
      float: right;
      font-size: 1rem;
      color: #bbb;
    }
  }
.main-item-show{
    width: 60%;
    height: 100%;
}
.fix{
  position: fixed;
  left: 940px;
  top: 210px;
}
.price-item-show{
    width: 30%;
    height: 100%;

}
.logo-image{
    width:50%;
}
.card-size{
  width: 300px;
  height: 400px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0); //숨긴다
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat; // 대체할 아이콘
  width: 20px;
  height: 20px;
  border-width: thin;
}
