extends ../layout

block content
  .container
    h1.main-title MyTours
    
    table.table.table-hover
      thead
        tr
          th Tour Name
          th
      tbody
        if reservations.total <= 0 
          tr
            td
              h3=reservations.total
              .alert.alert-info 예약 내역이 없습니다
        else
          each i in reservations
            tr
              td
                a(href=`/items/${i.itemNo}`)= i.itemName
              td
                a.btn.btn-sm.btn-outline-danger(href=`/items/reserve/${i.id}?_method=DELETE`)
                  | #[i.fa.fa-trash] Delete