.card-body
  .content= review.content
.row.card-body
  .col-sm
  .col-sm.text-right
    .author
      | reviewed on #{moment(review.createdAt).format('YYYY-MM-DD')}
      if review.cNo
        | 
        | by #[a(href=`/users/${review.cNo}`)= review.cNo]
