.main-title {
    .small {
      float: right;
      font-size: 1rem;
      color: #bbb;
    }
  }
.main-item-show{
    width: 60%;
    height: 100%;
}
.fix{
  position: fixed;
  left: 940px;
  top: 210px;
}
.price-item-show{
    width: 30%;
    height: 100%;

}
.logo-image{
    width:50%;
}
.card-size{
  width: 300px;
  height: 400px;
}